VITE_FIREBASE_API_KEY=AIzaSyDtRG4hgelCZlQWsL06Tb07A7CipDSE2lU
VITE_FIREBASE_AUTH_DOMAIN=study-tracker-cd631.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=study-tracker-cd631
VITE_FIREBASE_STORAGE_BUCKET=study-tracker-cd631.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=573843213419
VITE_FIREBASE_APP_ID=1:573843213419:web:820842ab8437faada7f52e
VITE_FIREBASE_MEASUREMENT_ID=G-NYQSD67FW4
