rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(uid) {
      return isSignedIn() && request.auth.uid == uid;
    }

    function ownerByUserIdField() {
      return isSignedIn() && request.resource.data.userId == request.auth.uid;
    }

    function existingOwnerByUserIdField() {
      return isSignedIn() && resource.data.userId == request.auth.uid;
    }

    match /projects/{projectId} {
      allow create: if ownerByUserIdField();
      allow read, delete: if existingOwnerByUserIdField();
      allow update: if existingOwnerByUserIdField() && ownerByUserIdField();
    }

    match /sessions/{sessionId} {
      allow create: if ownerByUserIdField();
      allow read: if existingOwnerByUserIdField() || isSignedIn();
      allow delete: if isSignedIn(); // Allow signed-in users to delete their sessions
      allow update: if existingOwnerByUserIdField();
    }

    match /timers/{timerId} {
      allow create: if ownerByUserIdField();
      allow read, delete: if existingOwnerByUserIdField();
      allow update: if existingOwnerByUserIdField() && ownerByUserIdField();
    }

    match /userTimers/{userId} {
      allow read, write: if isOwner(userId);
    }

    match /userProfiles/{userId} {
      allow read, write: if isOwner(userId);
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
